- name : Configure Docker on EC2 Instances
  hosts : all
  become: true
  connection : ssh
  tasks : 
  - name: updating apt
    command : sudo apt-get update

  - name : Install Docker
    command : sudo apt-get install -y docker.io
    become : yes
    become_user : root

  - name : Start Docker Service
    command : sudo systemctl start docker
    become : yes
    become_user : root

  - name : stop existing containers
    shell : docker stop $(docker ps -a -q)
  - name : delete all containers
    shell : docker rm $(docker ps -a -q)

  - name: Deploy Docker Container
    command: docker run -itd -p 8089:8081 kalyanighutugade/insure_me:1.0
